.layout {
  background-color: #FEFFDF;
  background-image: url('http://p8pobg42e.bkt.clouddn.com/cool-background.png');
  min-height: 100vh;
  background-size: cover;
}

.title {
  font-size: 80;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  color: black;
  border-bottom: 3px solid #090089;
}

.loginForm {
  max-width: 300px;
  margin: auto;
  margin-top: 34vh;
}

.formForget {
  float: right;
}

.formButton {
  width: 100%;
}
